{% extends "base.html" %}
{% block content %}
    {% if message %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    {% endif %}
  {% if current_user.role == 1000 or not current_user.is_authenticated %}
    <a href="/">Access Denied</a>
  {% endif %}
    {% if current_user.role == 0 or current_user.role == 1 or current_user.role == -1%}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        Select method {{ form.select }}
        User id {{ form.user_id }}</br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
{% endblock %}