{% extends "base.html" %}

{% block content %}
<div class="content" style="">
    {% if message %}
    <div class="alert alert-primary" role="alert">
        {{message}}
    </div>
    <a href="//" class="btn btn-outline-primary">Вернуться на главную</a>
    {% endif %}
</div>
{% for i in content['items'] %}
<div class="item {{loop.index}}">
    <h4>{{i.title}}</h4>
    <h5><b>Из категории: {{i.category}}</b></h5>
    <p class="about">{{i.about}}</p>
    <p class="price"><b>{{i.price}}</b></p>
    <img src="{{i.image_path}}" alt="Изображение не найдено" width="200px" height="200px">
    {% if current_user.is_authenticated %}
    <a href="/buy/{{i.id}}" class="buy_item btn btn-success">Купить!</a>
    {% endif %}
</div>
{% endfor %}
<div class="pagination">
{{ content['pagination'].links }}
</div>
{% endblock %}